@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,400&family=Montserrat:wght@500&display=swap');
*,::before,::after{
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body{
    background-image: url(../images/pexels.jpg);
     object-fit: cover;
     overflow-x: hidden; 
}
#container{
    display: grid;
    place-items: center;
    width: 34.5%;
    height: 402.5px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.inputContainer{
   position: relative;
   margin-bottom: 10px;
   margin-top: -40px;

}
.inputContainer > input{
    margin-bottom: 10px!important;
    outline: none !important;
    cursor: pointer !important ;
    transform: scale(0.85) !important;
    padding: 5px !important;
}
#info{
    display: grid;
    grid-template-columns: repeat(6,auto);
    position: absolute;
    left: 55%;
    top: 80%;
    transform: translate(-50%,-50%) translateX(-10px);
    gap: 10px;
    width: 100%;

}
#info > span{
    font-size: 0.6rem;
    text-align: center;
}
#button{
    position: absolute;
    left: 20%;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: 60%;
    height: 25px;
    border-radius: 3px;
    background: rgb(0, 61, 76);
    color: white;
}
#button:hover{
    background: rgb(15, 121, 143);
    transition: 0.2s;
}
@media(max-width: 521px) {
    .media{
        display: none;
    }
    .inputContainer > input{
        width: 100%;
    }
    .inputContainer > ::placeholder{
        text-align: center;
        font-size: larger;
    }
}